<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="MySampleConnection" connectionString="metadata=res://*/EntityFramework.MyCoolDbEntities.csdl|res://*/EntityFramework.MyCoolDbEntities.ssdl|res://*/EntityFramework.MyCoolDbEntities.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;Data Source=localhost;Initial Catalog=MyCoolDb;Integrated Security=true;MultipleActiveResultSets=True&amp;quot;"
            providerName="System.Data.EntityClient" />
        <add name="MembershipConnection" connectionString="Data Source=localhost;Initial Catalog=MyCoolDb;Integrated Security=true;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <profile>
            <providers>
                <remove name="AspNetSqlProfileProvider" />
                <add connectionStringName="Mycoolstring" applicationName="/"
                    name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
                <remove name="MySQLProfileProvider" />
                <add connectionStringName="Mycoolstring" applicationName="/"
                    name="MySQLProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=5.2.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
            </providers>
        </profile>
        <roleManager enabled="true" />
    </system.web>
</configuration>