<?xml version="1.0" encoding="utf-8" ?>
<InstallerConfig>
  <ApplicationName>MyCoolApplication</ApplicationName>
  <Path>
    <RelativeSqlPath>App_Data</RelativeSqlPath>
  </Path>
  <Membership Create="true" ProviderName="KingsCustomSqlMembershipProvider" type="GB.KingsCustomSqlMembershipProvider, GB"/>
  <Profile ProviderName="KingsCustomSqlProfileProvider" type="GB.KingsCustomSqlProfileProvider, GB" />
  <RoleManager ProviderName="AspNetSqlRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider">
    <Roles>
      <Role Name="Administrator">
        <Users>
          <User UserName="admin" Password="password" Email="info@kingwilder.com" SecretQuestion="What" SecretAnswer="When" />
          <User UserName="bizuser" Password="93o404u" Email="ninjaburp@aol.com" SecretQuestion="Favorite Movie" SecretAnswer="Saturday Night Fever" />
        </Users>
      </Role>
      <Role Name="Manager">
        <Users>
          <User UserName="joemanager" Password="mypassword" Email="info@gizmobeach.com" SecretQuestion="Dog's Name" SecretAnswer="Thor" />
        </Users>
      </Role>
      <Role Name="SecurityGuard">
        <Users>
          <User UserName="admin" Password="password" Email="info@kingwilder.com" SecretQuestion="What" SecretAnswer="When" />
        </Users>
      </Role>
    </Roles>
  </RoleManager>
  <Database UseTrustedConnection="true" EntityFrameworkEntitiesName="">
    <ConnectionStringName>MySampleConnection</ConnectionStringName>
    <DataSource>kingwilder-pc\mssqlserver2008</DataSource>
    <InitialCatalog>MyCoolDb</InitialCatalog>
    <UserName>mycooldbadmin</UserName>
    <Password>mycooldbpassword</Password>
  </Database>
</InstallerConfig>