<?xml version="1.0"?>
<InstallerConfig>
  <Path>
    <RelativeSqlPath>App_Data</RelativeSqlPath>
  </Path>
  <Membership Create="true" ProviderName="MyAspNetMembershipProvider">
    <Roles>
      <Role Name="SuperAdministrator">
        <Users>
          <User UserName="superadmin" Password="i234567" Email="sa@email.org" SecretQuestion="Pets name" SecretAnswer="Thor" />
        </Users>
      </Role>
      <Role Name="Administrator">
        <Users>
          <User UserName="admin" Password="234566y" Email="admin@email.org" SecretQuestion="Favorite color" SecretAnswer="Taupe" />
          <User UserName="byron" Password="93o404u" Email="byron@email.org" SecretQuestion="Favorite Movie" SecretAnswer="Saturday Night Fever" />
        </Users>
      </Role>
    </Roles>
  </Membership>
  <Database UseTrustedConnection="true">
    <ConnectionStringName>MyDbConnection</ConnectionStringName>
    <DataSource>localhost</DataSource>
    <InitialCatalog>MyCoolDb</InitialCatalog>
    <UserName>mycooldbadmin</UserName>
    <Password>mycooldbpassword</Password>
  </Database>
</InstallerConfig>