<?xml version="1.0" encoding="utf-8" ?>
<InstallerConfig>
  <ApplicationName>MyCoolApplication</ApplicationName>
  <Path>
    <RelativeSqlPath>App_Data</RelativeSqlPath>
  </Path>
  <Membership Create="true" ProviderName="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  <Profile ProviderName="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  <RoleManager ProviderName="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
    <Roles>
      <Role Name="Administrator">
        <Users>
          <User UserName="admin" Password="password" Email="me@info.com" SecretQuestion="Favorite Color" SecretAnswer="Mauve" />
          <User UserName="bizuser" Password="93o404u" Email="ninjaburp@aol.com" SecretQuestion="Favorite Movie" SecretAnswer="Saturday Night Fever" />
        </Users>
      </Role>
      <Role Name="Manager">
        <Users>
          <User UserName="joemanager" Password="mypassword" Email="jmanager@myemail.com" SecretQuestion="Dog's Name" SecretAnswer="Thor" />
        </Users>
      </Role>      
      <!--<Role Name="SecurityGuard">
        <Users>
          <User UserName="admin" Password="password" Email="me@info.com" SecretQuestion="Favorite Color" SecretAnswer="Mauve" />
        </Users>
      </Role>-->
    </Roles>
  </RoleManager>
  <SessionState ProviderName="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  <Database UseTrustedConnection="true" EntityFrameworkEntitiesName="MyCoolEntities">
    <ConnectionStringName>MySampleConnection</ConnectionStringName>
    <DataSource>localhost</DataSource>
    <InitialCatalog>MyCoolDb</InitialCatalog>
    <UserName>mycooldbadmin</UserName>
    <Password>mycooldbpassword</Password>
  </Database>
</InstallerConfig>